/*
 * Empty Stylesheet file.
 */

.title {
    -fx-text-fill: linear-gradient(#0050ff, #0032a0);
    -fx-font-family: "ArcadeClassic";
}
.label {
    -fx-font-family: "ArcadeClassic";
}
.pkmnNameHP {
    -fx-font-size: 18;
}
.button {
    -fx-font-family: "ArcadeClassic";
    -fx-font-size: 18;
}
.menuButton {
    -fx-font-family: "ArcadeClassic";
    -fx-font-size: 36;
}

.battleBackgroundImage {
    -fx-background-image: url(../pokemonimages/battleField.png);
    -fx-background-size: cover;
}
.battleBackground {
    -fx-background-color: #000000;
}

.charmanderFront {
    -fx-background-image: url(../pokemonimages/charmanderFront.png);
    -fx-background-size: stretch;
}
.charmanderBack {
    -fx-background-image: url(../pokemonimages/charmanderBack.png);
    -fx-background-size: stretch;
}
.bulbasoarFront {
    -fx-background-image: url(../pokemonimages/bulbasaurFront.png);
    -fx-background-size: stretch;
}
.bulbasoarBack {
    -fx-background-image: url(../pokemonimages/bulbasaurBack.png);
    -fx-background-size: stretch;
}
.squirtleFront {
    -fx-background-image: url(../pokemonimages/squirtleFront.png);
    -fx-background-size: stretch;
}
.squirtleBack {
    -fx-background-image: url(../pokemonimages/squirtleBack.png);
    -fx-background-size: stretch;
}

