

 .blackBar{
        -fx-background-color: #000000
    }
    .ship{
        -fx-image: url(../sideScroller/ship.png);
    }
    .oneHeart{
        -fx-image: url(../sideScroller/oneHeart.png);
    }
     .twoHeart{
        -fx-image: url(../sideScroller/twoHeart.png);
    }
     .threeHeart{
        -fx-image: url(../sideScroller/threeHeart.png);
    }
    .noHeart{
        -fx-image: url(../sideScroller/noHeart.png);
    }
    .astaroid{
        -fx-image: url(../sideScroller/astaroid.png);
    }
    .godHeart{
        -fx-image: url(../sideScroller/godMode.png);
    }
    .tempBackground{
        -fx-background-color:#666666
    }
    .start{
        -fx-image:url(../sideScroller/start.png)
    }
    .death{
       -fx-image:url(../sideScroller/explotion.gif) 
           
    }
    .gameOver{
         -fx-image:url(../sideScroller/gameOver.gif) 
    }
    .missile{
        -fx-image:url(../sideScroller/missile.png)
    }
    .noAmmo{
         -fx-image:url(../sideScroller/noAmmo.png)
    }
    .oneAmmo{
        -fx-image:url(../sideScroller/oneAmmo.png)
    }
    .twoAmmo{
        -fx-image:url(../sideScroller/twoAmmo.png)
    }
    .threeAmmo{
        -fx-image:url(../sideScroller/threeAmmo.png)
    }
 