

 .blackBar{
        -fx-background-color: #000000
    }
    .ship{
        -fx-image: url(../sideScroller/ship.png);
    }
    .oneHeart{
        -fx-image: url(../sideScroller/oneHeart.png);
    }
     .twoHeart{
        -fx-image: url(../sideScroller/twoHeart.png);
    }
     .threeHeart{
        -fx-image: url(../sideScroller/threeHeart.png);
    }
    .noHeart{
        -fx-image: url(../sideScroller/noHeart.png);
    }
    .astaroid{
        -fx-image: url(../sideScroller/astaroid.png);
    }
    .GodHeart{
        -fx-image: url(../sideScroller/godMode.png);
    }
    .tempBackground{
        -fx-background-color:#666666
    }
    .start{
        -fx-image:url(../sideScroller/start.png)
    }
    .death{
       -fx-image:url(../sideScroller/explotion.gif) 
           
    }