/*
 * Empty Stylesheet file.
 */



.background {
    -fx-background-image: url(../pokemonimages/background.png);
    -fx-background-size: contain;
}
.picture-man {
    -fx-background-image: url(../PICTURES/8.png);
    -fx-background-size: stretch;
}
.duck{
    -fx-background-image: url(../PICTURES/duck.png);
    -fx-background-size: stretch;
}

.bowser{
    -fx-background-image: url(../PICTURES/1.png);
    -fx-background-size: stretch;
}
.bulbasoarFront {
    -fx-background-image: url(../pokemonimages/bulbasaurFront.png);
    -fx-background-size: stretch;
}

.squirtleFront {
    -fx-background-image: url(../pokemonimages/squirtleFront.png);
    -fx-background-size: stretch;
}
.pacman-ghost{
    -fx-background-image: url(../PICTURES/9.png);
    -fx-background-size: stretch;
}
.picture-boo{
    -fx-background-image: url(../PICTURES/0.png);
    -fx-background-size: stretch;
}
.picture-star-wars{
    -fx-background-image: url(../PICTURES/14.jpg);
    -fx-background-size: stretch;
}
.picture-sonic{
    -fx-background-image: url(../PICTURES/12.jpg);
    -fx-background-size: stretch;
}
.mole{
    -fx-background-image: url(../wacAMole/mole.png);
    -fx-background-size: stretch;
}

.buttonWac {
    -fx-font-family: "ArcadeClassic";
    -fx-font-size: 64;
}

.labelWac {
    -fx-font-family: "ArcadeClassic";
    -fx-font-size: 64;
}
.labelWacSmall {
    -fx-font-family: "ArcadeClassic";
    -fx-font-size: 36;
}
.theme{
    -fx-background-color: 
        white,
        linear-gradient(#000033 10%, #999999 74%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-text-fill: black; 
}
