/*
 * Empty Stylesheet file.
 */


 .picture-man {
-fx-background-image: url(../PICTURES/man.png);

 }
 .duck{
-fx-background-image: url(../PICTURES/duck.png);
 }
 .bulbasoarFront {
    -fx-background-image: url(../pokemonimages/bulbasaurFront.png);
 }
 
.squirtleFront {
    -fx-background-image: url(../pokemonimages/squirtleFront.png);
}