/*
 * Empty Stylesheet file.
 */

.button {
    -fx-font-family: "ArcadeClassic";
    -fx-font-size: 64;
}
.label {
    -fx-font-family: "ArcadeClassic";
    -fx-font-size: 64;
    -fx-border-width: 5;
}
